.inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 5);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
    @media (max-width: 65em) {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      padding-top: calc(var(--mantine-spacing-xl) * 4);
    }
  }
  
  .content {
    max-width: 650px;
    height: fit-content;
    align-self: center;
    margin-right: calc(var(--mantine-spacing-xl) * 3);
  
    @media (max-width: 65em) {
      max-width: 80%;
      margin-right: 0;
      margin-bottom: 100px;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: 36em) {
      font-size: rem(28px);
    }
  }

  .subTitle {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 20px;
    @media (max-width: 36em) {
      font-size: rem(28px);
    }
  }
  
  .control {
    @media (max-width: 36em) {
      flex: 1;
    }
  }
  
  .image {
    width: rem(376px);
    height: rem(356px);
  
    @media (max-width: 65em) {
      width: 80% !important;
    }
  }
  
  .highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
  }